body {
    margin: 0%;
    background-color: rgb(227, 229, 232);
}

.corps {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 50px auto;
    height: 100vh;
}

.menu {
    border: 1px solid black;
    grid-column: 1;
    grid-row:  1/span 2;
}

.user {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.hide_menu {
    display: none;
    position: absolute;
    width: 150px;
    height: 60px;
    top: 40px;
    background-color: rgb(201, 206, 208);
    border-radius: 10px;
    border: 1px black solid;
}

.small_screen{
    display:none;
}
.menu_icon, .user_img {
    align-self: center;
}

.folder_icon {
    display: flex;
}

.folder_icon .icon {
    align-self: center;
    }

.folder_name{
    margin: 5px;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height:100%;
}
.all_bookmark {
    display: flex;
    justify-content: space-evenly;
}

.all_folder {
    margin-top: 30px;
}

.folder {
    display: flex;
    margin: 10px;
} 


.bookmark_menu {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    grid-column: 2;
    grid-row: 1;
}
.icon, .image img{
    width: 15px;
    height: 15px;
    }
    .image img {
        width: 150px;
        height: 150px;
    }
.all_cards {
    border: 1px solid black;
}

.card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    border-bottom: solid 2px white;
    padding: 5px;
    max-height: 150px;
}

/* .card:hover {
    box-shadow: 0 0 10px white;
    background-color: rgb(119, 208, 243);
} */

.card .image{
    grid-column: 1;
    grid-row: 1/span 5;
    width: 150px;
    height: 150px;
}

.card .text{
    grid-column: 2/span 2;
    grid-row: 1/span 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .text p{
    padding: 5px;
}
.card .go_trash{
    grid-column: 4;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
}


.bookmark{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 696px) {
    
}
@media screen and (max-width: 475px) {
    .corps {
        display: flex;
        flex-direction: column;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .max_screen {
        display:none;
    }

    .small_screen {
        display:flex;
        align-items: center;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        text-align:center;
        padding: 0;
        margin: 0;
    }
    ul ul {
        display: none;
    }

    /* .card{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        border-bottom: solid 2px white;
        padding: 5px;
        max-height: 150px;
    } */

    .card .text {
        white-space: nowrap;
        overflow: hidden;
    }

    .card .text .description {
        text-overflow: ellipsis ;
    }

    .card .go_trash{
        grid-column: 4;
        grid-row: 1 /span 4;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
